
<div class="text-center">
    <form id="new-post-form">
        <input id="post-title"></input>
        <textarea id="post-body"></textarea>
        <button class="btn btn-primary" type="submit">submit new post</button>
    </form>
</div>
<script src="/js/new.js"></script>